{% extends "base_generic.html" %}

{% block sidebar %}
{% load static %}
<img src="{% static 'images/sr_1.png' %}" alt="Scientific Rating">
<label for="rating_progress">Rating Progress:</label>
<progress id="rating_progress" max="100" value="{{progress}}"> {{progress_text}} </progress>
{% endblock %}

{% block content %}
<div class="article1">
    {{article1.display | safe}}
    </div>

<div class="article2">
    {{article2.display | safe}}
    </div>
    
{% endblock %}

<div>
    <form method = 'POST' target = {{next_url}}>
        {% csrf_token %}
        
    {{ form.as_p }}
        <br>
        <input type='submit' name='Submit'>
    </form>
</div>

